<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lxk.animandcustomviewdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lxk.animandcustomviewdemo.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lxk.animandcustomviewdemo.anim.AnimationXmlActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lxk.animandcustomviewdemo.anim.AnimationCodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.lxk.animandcustomviewdemo.animator.AnimatorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.lxk.animandcustomviewdemo.animator.PropertyValuesHolderAndKeyFrameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".animator.AnimatorXmlActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.lxk.animandcustomviewdemo.recyclerview.RecyclerViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />


    </application>

</manifest>